**/logs
*.log
testdir
tmpdir

bin/bash/bash-builtins.sh
bin/bash/bash-builtins.so
bin/cli/libptef.so
bin/cli/ptef-mklog
bin/cli/ptef-report
bin/cli/ptef-runner
bin/libptef.so
bin/ptef-mklog
bin/ptef-report
bin/ptef-runner
bin/ttee
bin/valgrind/cli/libptef.so
bin/valgrind/cli/ptef-mklog
bin/valgrind/cli/ptef-report
bin/valgrind/cli/ptef-runner
